@charset "utf-8";
/* 
	@名称: Base
	@功能: 重设浏览器默认样式
	@作者：zuozuo&447552014
*/

body, h1, h2, h3, p, dl, dd, ol, ul, th, td, form, fieldset, input, button, textarea {
	margin: 0;
	padding: 0;
}
html {
	word-wrap: break-word;
	-webkit-text-size-adjust: none
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}
ol, ul {
	list-style: none
}
table {
	border-collapse: collapse;
	empty-cells: show;
	font-size: inherit;
	border-spacing: 0
}
fieldset, img {
	border: 0
}
cite, em, s, i, b {
	font-style: normal
}
input, button, textarea, select {
	font-size: 100%
}
body, input, button, textarea, select, option {
	font-size: normal
}
a, input, textarea {
	outline: 0;
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-appearance: none;
}
li, img, label, input {
	vertical-align: middle
}
var {
	font-style: normal
}
ins {
	text-decoration: none
}
body {
	font-size: 20px
}
a {
	cursor: pointer;
}
.w640 {
	/*
	overflow: hidden;
	*/
	margin: auto;
	max-width: 640px;
	min-height: 450px;
}
@media only screen and (width: 320px){
	.w640 {
		min-height: 420px;
	}

}
@media only screen and (min-width: 375px) and (max-width: 414px){
	.w640 {
		min-height: 610px;
	}
}
@media only screen and (min-width: 414px) and (max-width: 1000px){
	.w640 {
		min-height: 650px;
	}
}

/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	height: 100%;
}
*:focus{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
*:hover{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

/* 内外边距通常让各个浏览器样式的表现位置不同 */
*{	
	margin: 0;
	outline: 0;
	padding: 0;
	font-size: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-overflow-scrolling:touch;  /*让HTML页面内的元素出现滚动条时，滚动会有弹性滚动*/
}
a, img {
    -webkit-touch-callout: none; /* 禁止长按链接与图片弹出菜单 */
}
html, body {
    -webkit-user-select: none;   /* 禁止选中文本（如无文本选中需求，此为必选项） */
    user-select: none;
}
/* 要注意表单元素并不继承父级 font 的问题 */
body, button, input, select, textarea {
	font: 12px/1.5 "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}
input,textarea,select {
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
	outline:none;
	border-radius: 0;
}
textarea {
	resize: none;
	outline: none;
}
/* 去掉各Table  cell 的边距并让其边重合 */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* 去除默认边框 */
fieldset, img {
	border: 0;
	max-width: 640px;
}

/* 去掉列表前的标识, li 会继承 */
ol, ul {
	list-style: none;
}

q:before, q:after {
	content: '';
}
/* 默认不显示下划线，保持页面简洁 */
ins, a, a:hover{
	text-decoration: none;
}
/* 清理浮动 */
.fn-clear:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.fn-clear {
	zoom: 1; /* for IE6 IE7 */
}

/* 隐藏, 通常用来与 JS 配合 */
body .fn-hide {
	display: none;
}
body .fn-show {
	visible:hidden;
}

body .fn-alert{
	position: fixed;
	top: 50%;
	left: 0;
	margin-top: -20px;
	width: 100%;
	z-index: 999;
	text-align: center;
}
body .fn-alert span{
	box-sizing: border-box;
	padding: 10px 15px;
	color: #fff;
	background: rgba(0,0,0,0.5);
	border-radius: 10px;
}
/* 设置内联, 减少浮动带来的bug */

.fn-left {
	float: left;
}
.fn-right {
	float: right;
}
.padding-t-10 {
	padding-top: 10px;
}
.padding-t-15 {
	padding-top: 15px;
}
.padding-t-20 {
	padding-top: 20px;
}
.padding-b-10 {
	padding-bottom: 10px;
}
.padding-b-30 {
	padding-bottom: 30px;
}
.padding-10 {
	padding: 10px;
}
.margin-t-5 {
	margin-top: 5px;
}
.margin-t-10 {
	margin-top: 10px;
}
.margin-t-15 {
	margin-top: 15px;
}
.margin-t-20 {
	margin-top: 20px;
}
.margin-t-25 {
	margin-top: 25px;
}
.margin-t-30 {
	margin-top: 30px;
}
.margin-t-35 {
	margin-top: 35px;
}
a.t-blue:hover {
	text-decoration: underline;
}
.underline a:hover {
	text-decoration: underline;
}

.text-ellipsis{
	text-overflow:ellipsis; 
	overflow:hidden; 
	white-space:nowrap;
}


/*
 * 
 */
.b-radius-50{
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}
.b-radius-5{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
.b-radius-3{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}
/*弹性布局*/
.box {
	width: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-ms-flex-direction: row;
}
.box-flex {
	-webkit-box-flex: 1;/* android 2.1-3.0, ios 3.2-4.3 */
	-webkit-flex: 1;/* Chrome 21+ */
	-ms-flex: 1;/* WP IE 10 */
	flex: 1;/* android 4.4 */
	-moz-box-flex: 1;/*Firefox*/
	box-flex: 1;
}
.box-align.man {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	margin-left:8%;
	-webkit-box-align: center;/*Chrome*/
	-moz-box-align: center;/*Firefox*/
	-ms-flex-align: center;/*IE*/
}
.box-align.women {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	-webkit-box-align: center;/*Chrome*/
	-moz-box-align: center;/*Firefox*/
	-ms-flex-align: center;/*IE*/
}

