@charset "utf-8";
/* 
	@名称: Result
	@功能: 页面样式
	@作者：zuozuo&447552014
*/
body,html{
	min-height: 100%;
}
.my-test {
	position: absolute;
	top: 3%;
	left: 5%;
	width: 30%;
	height: 2%;
}
.container{
	position: relative;
}
.container .float{
	position: absolute;
	z-index: 2;
	width: 400px;
	color: #FFCC00;
	height: 166px;
}
.container .result-1{
	left: 80px;
	top: 260px;
	color: #FFCC00;
	font-size: xx-large;
}
.container .result-2{
	padding: 0 40px;
	top: 905px;
	left: 20px;


}
.result-2 p{
	position: relative;
	height: 20px;
	width: 277px;
	background:#FFCC00;
	border-radius: 0 10px 10px 0;
}
.result-2 p span{
	position: absolute;
	width: 200px;
	height: 58px;
	font-size: xx-large;
	top: 20px;

}

.container .result-3{
	padding: 0 40px;
	left:20px;
	top: 750px;
}
.result-3 p{
	position: relative;
	height: 20px;
	width: 400px;
	background: #FFCC00;
	border-radius: 0 10px 10px 0;
}
.result-3 p span{
	position: absolute;
	top: 20px;
	width: 200px;
	height: 58px;
	font-size: xx-large;
}
.result-text{
	color: #f7931e;
}
.result-table{
	color: #000;
}
.result-text,.result-table{

	font-size: 24px;
}
.result-text strong{
	font-size: 48px;
}
.container .but{
	position: absolute;
	top: 1680px;
	width: 100%;
	height: auto;
}
.container .but p:nth-of-type(1){

	width: 48%;
	height: 70px;
	display: inline-block;
}
.container .but p:nth-of-type(2){
	float: right;
	width: 48%;
	height: 70px;
	display: inline-block;
}
.container .but p a{
	display: block;
	width: 100%;
	height: 100%;
}

/*分享层*/
.share-layer{
	background: rgba(0,0,0,0.5);
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
}
.share-layer span{
	position: absolute;
	right: 20px;
	top: 0;
	width: 282px;
	height: 310px;
	background: url(../img/share_icons_01.png) no-repeat;
}

.share-layer .but{
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	width: 100%;
	margin-top: -50px;
}
.share-layer .but p{
	text-align: center;
	padding: 10px 0;
}
.share-layer .but p a{
	display: inline-block;
	width: 270px;
	height: 70px;
	box-sizing: border-box;
	font-size: 25px;
	text-align: center;
	line-height: 70px;
	border-radius: 20px;
}
.share-layer .but p:nth-of-type(1) a{
	background: #fbb03b;
	color: #8c6239;
}
.share-layer .but p:nth-of-type(2) a{
	border: #fff 2px solid;
	color: #fff;
}
/*兼容手机*/
@media only screen and (width: 320px){
	.container .result-text{
		font-size: 18px;
	}
	.result-1 p{
		font-size: 21px;
	}
	.result-2 p span{
		font-size: 20px;
		font-weight: bold;
	}
	.result-3 p span{
		font-size: 20px;
		font-weight: bold;
	}
	.share-layer .but p a{
		font-size: 20px;

	}

}
@media only screen and (width: 375px){
	.container .result-text{
		font-size: 24px;
	}
	.result-1 p{
		font-size: 27px;
	}
	.result-2 p span{
		font-size: 26px;
		font-weight: bold;
	}
	.result-3 p span{
		font-size: 26px;
		font-weight: bold;
	}
}
@media only screen and (width: 414px){
	.container .result-text{
		font-size: 28px;
	}
	.result-1 p{
		font-size: 31px;
	}
	.result-2 p span{
		font-size: 32px;
		font-weight: bold;
	}
	.result-3 p span{
		font-size: 32px;
		font-weight: bold;
	}
}
